<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block head %}{% endblock %}

        <title>{% block title %}Wagzai{% endblock %}</title>

  </head>
  <body>
Dashboard
    <!-- Navbar -->
    <nav>
      <ul>
        <li><a href="{{ url_for('app.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        ImIn
        <li><a href="{{ url_for('app.about') }}">About</a></li>
        <li><a href="{{ url_for('app.contact') }}">Contact</a></li>
        <li><a href="{{ url_for('app.logout') }}">Logout</a></li>
        {% else %}
        ImOut
          <li><a href="{{ url_for('app.about') }}">About</a></li>
          <li><a href="{{ url_for('app.contact') }}">Contact</a></li>
          <li><a href="{{ url_for('app.login') }}">Login</a></li>
          <li><a href="{{ url_for('app.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    
    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="py-3 bg-light">
      <div class="container text-center"> 
        &copy; Wagzai {{ year }}
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
