{% extends 'base.html' %}

{% block head %}
  <title>Wagz.ai - Home</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-4 text-center">Welcome to Wagz.ai!</h1>
    <p class="lead text-center">
      {% if not current_user.is_authenticated %}
        Please <a href="{{ url_for('app.register') }}">register</a> or <a href="{{ url_for('app.login') }}">log in</a> to get started.
      {% else %}
        You are currently logged in as {{ current_user.email }}.
      {% endif %}
    </p>
  </div>
{% endblock %}
